{% extends 'base.html' %}
{% load static %}


{% block page_header %}
    <!-- Content Header (内容header) -->
    <section class="content-header">
        <h1>
            域名管理
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">域名管理</a></li>
            <li class="active">域名管理</li>
        </ol>
    </section>
{% endblock %}

{% block main_content %}
    <!-- Main content -->
    <section class="content">
        <form action="" method="get" id="domain_form">
            <div class="box">
                <div class="box-header">
                    <div class="col-sm-2" style="padding-left: 0">
                        <a href="{% url 'domain:domain-add' %}">
                            <li class="btn btn btn-primary">
                                <b>添加</b>
                            </li>
                        </a>
                    </div>
                {{ add_area_num }}
                    <div class="col-sm-5" style="padding-left: 0px">
                        <label>
                            <select name="add_area" class="form-control m-b input-sm" onchange="change_info()">
                                <option value="">添加位置（筛选）</option>
                                {% for i in add_area %}
                                    {% ifequal i.0 request.GET.add_area %}
                                        <option value="{{ i.0 }}" selected> {{ i.1 }}</option>
                                    {% else %}
                                        <option value="{{ i.0 }}"> {{ i.1 }}</option>
                                    {% endifequal %}
                                {% endfor %}
                            </select>
                        </label>

                    </div>
                    <div class="col-sm-4" style="padding-right: 0;">
                        <div class="input-group inline-group padding-right: 10px">
                            <input type="text" class="form-control m-b" name="keyword" value="{{ request.GET.keyword }}" placeholder="Search">
                            <input type="text" style="display: none">
                            <div class="input-group-btn ">
                                <button type="submit" class="btn btn-primary" onclick="change_info()">
                                    <b>搜索</b>
                                </button>
                                <a href="#" onclick="return export_excel()">
                                    <li name="export" class="btn btn-success search-btn-excel">
                                        <b>导出</b>
                                    </li>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="export"></div>
                </div>


                <!-- /.box-header -->
                <div class="box-body">
                    <table id="dataform" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>域名</th>
                            <th>IP</th>
                            <th>环境</th>
                            <th>添加位置</th>
                            <th>用途</th>
                            <th>申请人</th>
                            <th class="text-center">功能</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if domains %}
                            {% for domain in domains %}
                                <tr>
                                    <td>
                                        <a href="">{{ domain.domain_name }}</a>
                                    </td>
                                    <td>{{ domain.ip }}</td>
                                    <td>{{ domain.env }}</td>
                                    <td>{{ domain.get_add_area_display }}</td>
                                    <td>{{ domain.usage }}</td>
                                    <td>{{ domain.applicant }}</td>

                                    <td class="text-center" data-editable='false'>
                                        <a class="edit btn btn-sm btn-info" name="edit" href="{% url 'domain:domain-edit' domain.id %}">编辑</a>
                                        <a class="delete btn btn-sm btn-danger" name="delete" href="{% url 'domain:domain-delete' domain.id %}">删除</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <p>No Item are available.</p>
                        {% endif %}
                        </tbody>
                    </table>
                {{ is_paginated }}
                    {% if is_paginated %}
                        <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="paginate_button"><a href="?page={{ page_obj.previous_page_number }}">上一页</a></li>
                        {% else %}
                            <li class="paginate_button disabled"><a href="">上一页</a></li>
                        {% endif %}

                            <li class="paginate_button">
                                <a href="">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                            </li>

                            {% if page_obj.has_next %}
                                <li class="paginate_button"><a href="?page={{ page_obj.next_page_number }}">下一页</a></li>
                            {% else %}
                                <li class="paginate_button disabled"><a href="">下一页</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}

                    <div class="btn-group">
{#                        <button class="btn btn-danger" style="width: 60pt;font-size: medium" onclick="return checkSubmit()">#}
{#                            <b>删除</b>#}
{#                        </button>#}
                    </div>
                </div>
            </div>
        </form>
    </section>

{% endblock %}

{% block custom_foot_js %}
<!-- DataTables -->
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/bootbox/bootbox.js' %}"></script>
    <script>
        window.onload=init;
        function init() {
            showhide();
        }
        function showhide() {
            $('#domain').addClass('active menu-open')
            $('#domain-list').addClass('active')
        }

        $(document).ready(function() {
            var table = $('#dataform').DataTable( {
                "paging": false,
                "lengthChange": true,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": true
            } );

            $(".checkBtn").click(function(){
                  var checkValue = $(this).val();
                  if (this.checked){
                      $("." + checkValue).fadeIn();
                  } else {
                      $("." + checkValue).fadeOut();
                  }
              });
        } );

    </script>
    <script>
    function change_info(){
        var args = $("#domain_form").serialize();
        console.log(args);
        window.location = "{% url 'domain:domain-list' %}?" + args
    }


{#    function export_excel(){#}
{#        var asset_id_all = getIDall();#}
{#        if (asset_id_all == ''){#}
{#            if(confirm('您没有勾选，是否导出全部信息？')){#}
{#                var args = $("#asset_form").serialize();#}
{#                window.location = "{% url 'cmdb' %}?export=all&" + args#}
{#                }else{#}
{#                    return false;#}
{#                }#}
{#            }else{#}
{#                var args = $("#asset_form").serialize();#}
{#                window.location = "{% url 'cmdb' %}?export=true&" + args#}
{#            }#}
{#    }#}
{#    $("#search_input").keydown(function(e) {#}
{#        if (e.keyCode == 13) {#}
{#            change_info()#}
{#        }#}
{#        });#}
</script>

    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        $(document).ready(function () {
            $(".delete").click(function () {
                if(confirm('确定删除吗？')){
                    $.post(this.href, function (data) {
                        if (data.results = "ok") {
                            window.location.reload();
                        } else {
                            alert("sth wrong");
                        }
                    });
                }
                return false;
            })
        })

    </script>
{% endblock %}





