{% extends 'base.html' %}
{% load static %}



{% block page_header %}
    <section class="content-header">
        <h1>
            机房管理
            <small>资产管理（增删改查）</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">资产</a></li>
            <li class="active">资产列表</li>
        </ol>
    </section>
{% endblock %}

{% block main_content %}
    <!-- Main content -->

    <section class="content">
        <form action="" method="post" id="assetfrom">
{#            {% csrf_token %}#}
            <div class="box">
                <div class="box-header">
                    <div class="col-sm-1" style="float: left">
                        <a href="{% url 'assets:asset-add' %}"><li class="btn btn-success" ><b>添加设备</b></li></a>
                    </div>
                    <!-- 列编辑块 Start -->
                    <div class="nav-item dropdown show" style="float: left">
{#                        <button type="button" class="btn btn-default">编辑列</button>#}
{#                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">#}
{#                            <span class="caret"></span>#}
{#                            <span class="sr-only">Toggle Dropdown</span>#}
{#                        </button>#}
                        <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            编辑列 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="checkBtn" value="hostname" checked>主机名称
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="checkBtn" value="ip" checked>管理IP
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="checkBtn" value="other_ip">其他IP
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="checkBtn" value="group" checked>资产组
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="checkBtn" value="idc" checked>机房
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="checkBtn" value="asset_type">设备类型
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="checkBtn" value="status">设备状态
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="checkBtn" value="os">系统发行版
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="checkBtn" value="cpu_num" checked>cpu数量
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="checkBtn" value="memory" checked>内存
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="checkBtn" value="disk">磁盘
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="checkBtn" value="sn">SN号码
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="checkBtn" value="usage">用途
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="checkBtn" value="application">应用
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="checkBtn" value="principal">负责人
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="checkBtn" value="memo">备注
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="checkBtn" value="jira">Jira
                                </label>
                            </div>
                        </ul>
                    </div>
                    <!-- 列编辑块 End -->

                    <div class="col-sm-6" style="float: left">
                        <label>
                            <select name="idc" class="form-control m-b input-sm" onchange="change_info()">
                                <option value="">机房</option>
                                {% for idc in idc_info %}
                                    {% ifequal idc.name idc_name %}
                                        <option value="{{idc.name}}" selected> {{ idc.name|slice:":20" }}</option>
                                    {% else %}
                                        <option value="{{idc.name}}"> {{ idc.name|slice:":20" }}</option>
                                    {% endifequal %}
                                {% endfor %}
                            </select>
                        </label>

                        <label>
                            <select name="group" class="form-control m-b input-sm" onchange="change_info()">
                                <option value="">主机组</option>
                                {% for asset_group in group_info %}
                                    {% ifequal asset_group.name group_name %}
                                        <option value="{{ asset_group.name }}" selected> {{ asset_group.name|slice:":20" }} </option>
                                    {% else %}
                                        <option value="{{ asset_group.name }}"> {{ asset_group.name|slice:":20" }} </option>
                                    {% endifequal %}
                                {% endfor %}
                            </select>
                        </label>

                        <label>
                            <select name="asset_type" class="form-control m-b input-sm" onchange="change_info()">
                                <option value="">设备类型</option>
                                {% for type in asset_type %}
                                    {% ifequal type.0 assettype %}
                                        <option value="{{ type.0 }}" selected> {{ type.1 }}</option>
                                    {% else %}
                                        <option value="{{ type.0 }}"> {{ type.1 }}</option>
                                    {% endifequal %}
                                {% endfor %}
                            </select>
                        </label>

                        <label>
                            <select name="status" class="form-control m-b input-sm" onchange="change_info()">
                                <option value="">设备状态</option>
                                {% for s in asset_status %}
                                    {% ifequal s.0 status %}
                                        <option value="{{ s.0 }}" selected> {{ s.1 }}</option>
                                    {% else %}
                                        <option value="{{ s.0 }}"> {{ s.1 }}</option>
                                    {% endifequal %}
                                {% endfor %}
                            </select>
                        </label>
                    </div>

                    <div class="col-sm-3" style="float: left">
                         <div class="input-group inline-group">
                            <input type="text" class="form-control m-b " id="search_input" name="keyword" value="{{ keyword }}" placeholder="Search">
                            <input type="text" style="display: none">
                            <div class="input-group-btn ">
                                <button id='search_btn' href="#" type="button" class="btn btn-primary "  onclick="change_info()">
                                    <b>&nbsp;搜索&nbsp;</b>
                                </button>
                                <a href="#" onclick="return export_excel()"><li name="export" class="btn btn-success search-btn-excel"><b>&nbsp;导出&nbsp;</b></li></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <table id="dataform" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="hostname">主机名称</th>
                            <th class="ip">管理IP</th>
                            <th class="other_ip" style="display:none">其他IP</th>
                            <th class="group">资产组</th>
                            <th class="idc">机房</th>
                            <th class="asset_type" style="display:none">设备类型</th>
                            <th class="status" style="display:none">设备状态</th>
                            <th class="os" style="display:none">系统发行版</th>
                            <th class="cpu_num">cpu数量</th>
                            <th class="memory">内存（G）</th>
                            <th class="disk" style="display:none">磁盘</th>
                            <th class="sn" style="display:none">SN号码</th>
                            <th class="usage" style="display:none">用途</th>
                            <th class="application" style="display:none">应用</th>
                            <th class="principal" style="display:none">负责人</th>
                            <th class="memo" style="display:none">备注</th>
                            <th class="jira" style="display:none">jira</th>
                            <th class="text-center">功能</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if assets %}
                            {% for asset in assets %}
                                <tr>
                                    <td class="hostname"><a href="{% url 'assets:asset-edit' asset.id %}">{{ asset.hostname }}</a></td>
                                    <td class="ip">{{ asset.ip }}</td>
                                    <td class="other_ip" style="display:none" >{{ asset.other_ip }}</td>
                                    <td class="group">{{ asset.group }}</td>
                                    <td class="idc">{{ asset.idc }}</td>
                                    <td class="asset_type" style="display:none">{{ asset.get_asset_type_display }}</td>
                                    <td class="status" style="display:none">{{ asset.get_status_display }}</td>
                                    <td class="os" style="display:none">{{ asset.os }}</td>
                                    <td class="cpu_num">{{ asset.cpu_num }}</td>
                                    <td class="memory">{{ asset.memory }}</td>
                                    <td class="disk" style="display:none">{{ asset.disk }}</td>
                                    <td class="sn" style="display:none">{{ asset.sn }}</td>
                                    <td class="usage" style="display:none">{{ asset.usage }}</td>
                                    <td class="application" style="display:none">{{ asset.application }}</td>
                                    <td class="principal" style="display:none">{{ asset.principal }}</td>
                                    <td class="memo" style="display:none">{{ asset.memo }}</td>
                                    <td class="jira" style="display:none">{{ asset.jira }}</td>
                                    <td class="text-center" data-editable='false'>
                                        <a class="edit btn btn-sm btn-info" name="edit" href="{% url 'assets:asset-edit' asset.id %}">编辑</a>
                                        <a class="delete btn btn-sm btn-danger" name="delete"  href="{% url 'assets:asset-delete' asset.id %}">删除</a>

                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <p>No Item are available.</p>
                        {% endif %}
                        </tbody>
                    </table>
                    {% if is_paginated %}
                        <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="paginate_button"><a href="?page={{ page_obj.previous_page_number }}&idc={{ idc_name }}&group={{ group_name }}&asset_type={{ assettype }}&status={{ status }}&keyword={{ keyword }}">上一页</a></li>
                        {% else %}
                            <li class="paginate_button disabled"><a href="">上一页</a></li>
                        {% endif %}

                            <li class="paginate_button">
                                <a>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                            </li>

                            {% if page_obj.has_next %}
                                <li class="paginate_button"><a href="?page={{ page_obj.next_page_number }}&idc={{ idc_name }}&group={{ group_name }}&asset_type={{ assettype }}&status={{ status }}&keyword={{ keyword }}">下一页</a></li>

                            {% else %}
                                <li class="paginate_button disabled"><a>下一页</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </form>
    </section>

{% endblock %}


{% block self_css_js %}
    <!-- DataTables -->
    <script src="{% static 'plugins/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

    <script>
        // 高亮显示菜单
        window.onload=init;
        function init() {
            showhide();
        }
        function showhide() {
            $('#asset').addClass('active menu-open');
            $('#asset-list').addClass('active')
        }

        // 初始化datatables
        $(function () {
            $('#dataform').DataTable({
                "paging": false,
                "lengthChange": true,
                "searching": false,
                "ordering": true,
                "info": false,
                "autoWidth": false
            });
        });
        // 列编辑
        $(".checkBtn").click(function(){
            var checkValue = $(this).val();
            if (this.checked){
{#                $("." + checkValue).fadeIn();#}
                $("." + checkValue).show();
            } else {
{#                $("." + checkValue).fadeOut();#}
                $("." + checkValue).hide();

            }
        });

        // 筛选 搜索 提交
        function change_info(){
            var args = $("#assetfrom").serialize();
            window.location = "{% url 'assets:asset-list' %}?" + args
        }
    </script>


    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
        });
        $(document).ready(function () {
            $(".delete").click(function () {
                if(confirm('确定删除吗？')){
                    $.post(this.href, function (data) {
                        if (data.results = "ok") {
                            window.location.reload();
                        } else {
                            alert("sth wrong");
                        }
                    });
                }
                return false;
            })
        })

    </script>

{% endblock %}






