{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <section class="content-header">
        <h1>
            机房管理
            <small>机房管理（增删改查）</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">资产</a></li>
            <li class="active">机房列表</li>
        </ol>
    </section>
{% endblock %}

{% block main_content %}
    <!-- Main content -->

    <section class="content">
        <form action="" method="post">
            {% csrf_token %}
            <div class="box">
                <div class="box-header">
                    <div class="btn-group">
                        <a href="{% url 'assets:idc-add' %}">
                            <button type="button" class="btn btn-success">添加</button>
                        </a>
                    </div>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fa fa-times"></i></button>
                    </div>
                </div>

                <div class="box-body">
                    <table id="dataform" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="name">机房名称</th>
                            <th class="ip">机房地址</th>
                            <th class="asset_type">机房电话</th>
                            <th class="group">客户经理</th>
                            <th class="text-center">功能</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if idcs %}
                            {% for idc in idcs %}
                                <tr>
                                    <td><a href="{% url 'assets:idc-edit' idc.id %}">{{ idc.name }}</a></td>
                                    <td>{{ idc.address }}</td>
                                    <td>{{ idc.tel }}</td>
                                    <td>{{ idc.contact }}</td>
                                    <td class="text-center" data-editable='false'>
                                        <a class="edit btn btn-sm btn-info" name="edit" href="{% url 'assets:idc-edit' idc.id %}">编辑</a>
                                        <a class="delete btn btn-sm btn-danger" name="delete"  href="{% url 'assets:idc-delete' idc.id %}">删除</a>

                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <p>No Item are available.</p>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </section>

{% endblock %}


{% block self_css_js %}
    <!-- DataTables -->
    <script src="{% static 'plugins/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>


    <script>
        // 高亮显示菜单
        window.onload=init;
        function init() {
            showhide();
        }
        function showhide() {
            $('#asset').addClass('active menu-open');
            $('#idc-list').addClass('active')
        }

        // 初始化datatables
        $(function () {
            $('#dataform').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });

    </script>
    <script>
        // 删除
        $.ajaxSetup({
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        });
        $(document).ready(function () {
            $(".delete").click(function () {
                if(confirm('确定删除吗？')){
                    $.post(this.href, function (data) {
                        if (data.results = "ok") {
                            window.location.reload();
                        } else {
                            alert("sth wrong");
                        }
                    });
                }
                return false;
            })
        })

    </script>
{% endblock %}






