{% extends 'base.html' %}


{% block page_header %}
    <section class="content-header">
        <h1>
            导航管理
            <small>导航管理（增删改查）</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">导航</a></li>
            <li class="active">导航列表</li>
        </ol>
    </section>
{% endblock %}


{% block main_content %}
    <section class="content">

            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">导航管理</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fa fa-times"></i></button>
                    </div>
                </div>

                {% if not navis %}
                    <a href="{% url 'navi:navi-add' %}">
                        <span class="btn btn-success" >
                            <b>添加一个导航</b>
                            <i class="fa fa-plus"></i>
                        </span>
                    </a>
                {% endif %}

                <div class="row">
                    {% if navis %}
                        {% for navi in navis %}
                            <div class="col-md-3">
                                <a href="{{ navi.url }}" target="_blank">
                                    <div class="box card-success box-outline">
                                        <div class="box-header">
                                            <h3 class="box-title">{{ navi.name }}</h3>
                                        </div>
                                        <div class="box-body">{{ navi.url }}</div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
    </section>
{% endblock %}


{% block self_css_js %}
<script>
    window.onload=init;
    function init() {
        showhide();
    }
    function showhide() {
        $('#navi').addClass('active menu-open');
        $('#navi-list').addClass('active')
    }
</script>
{% endblock %}