{% extends 'base.html' %}
{% load static %}


{% block page_header %}
    <!-- Content Header (内容header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <!-- <h1>Blank Page</h1> -->
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">导航管理</a></li>
              <li class="breadcrumb-item active">导航管理</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
{% endblock %}

{% block main_content %}
    <section class="content">
        <form action="" method="post">
            {% csrf_token %}
            <div class="card">

                <div class="card-header">
                    <div class="btn-group card-title">
                        <a href="{% url 'navi:navi-add' %}">
                            <li class="btn btn-success" style="width: 60pt;font-size: medium" ><b>添加</b></li>
                        </a>
                    </div>
                </div>

                <div class="box-body">
                    <table id="dataform" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="name">名称</th>
                            <th class="desc">描述</th>
                            <th class="url">URL</th>
                            <th class="memo">备注信息</th>
                            <th class="text-center">功能</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if navis %}
                            {% for navi in navis %}
                                <tr>
                                    <td class="name">
                                        <a href="{% url 'navi:navi-edit' navi.id %}">{{ navi.name }}</a>
                                    </td>
                                    <td class="desc">{{ navi.description }}</td>
                                    <td class="url">{{ navi.url }}</td>
                                    <td  class="memo">{{ navi.memo }}</td>
                                    <td class="text-center" data-editable='false'>
                                        <a class="edit btn btn-sm btn-info" name="edit" href="{% url 'navi:navi-edit' navi.id %}">编辑</a>
                                        <a class="delete btn btn-sm btn-danger" name="delete" href="{% url 'navi:navi-delete' navi.id %}">删除</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <p>No Item are available.</p>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </section>
{% endblock %}



{% block self_css_js %}
    <!-- DataTables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap4.min.js' %}"></script>


    <script>
        // 高亮显示菜单
        window.onload=init;
        function init() {
            showhide();
        }
        function showhide() {
            $('#navi').addClass('menu-open');
            $('#navi-manage').addClass('active')
        }

        // 初始化datatables
        $(function () {
            $('#dataform').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });

    </script>
    <script>
        // 删除
        $.ajaxSetup({
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        });
        $(document).ready(function () {
            $(".delete").click(function () {
                if(confirm('确定删除吗？')){
                    $.post(this.href, function (data) {
                        if (data.results = "ok") {
                            window.location.reload();
                        } else {
                            alert("sth wrong");
                        }
                    });
                }
                return false;
            })
        })

    </script>
{% endblock %}





