{% extends 'base.html' %}

{% block page_header %}
    <!-- Content Header (内容header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <!-- <h1>Blank Page</h1> -->
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">用户管理</a></li>
              <li class="breadcrumb-item active">用户添加</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
{% endblock %}

{% block main_content %}
    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-header with-border">
                <h3 class="card-title">添加用户</h3>
            </div>
            <div class="card-body">
                <form action="{% url 'permission:user-add' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <input type="submit" class="btn btn-primary" style="width: 60pt" value="提交">&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{% url 'permission:user-list' %}"><li style="width: 60pt" class="btn btn-primary" value="">返回</li></a><br>
                </form>
            </div>
            <div class="card-footer">
                <i class="fa fa-info-circle"></i> 请勿重复添加条目
            </div>
        </div>
    </section>


{% endblock %}

{% block self_css_js %}
    <script>
        window.onload=init;
        function init() {
            showhide();
        }
        function showhide() {
            $('#user').addClass('menu-open');
            $('#user-list').addClass('active')
        }
    </script>

{% endblock %}